<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <add name="NewPemira.Properties.Settings.DBPemiraConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=F:\Explore\Pemira\pemira-evote-2017\NewPemira_Server\NewPemira\Database\DBPemira.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <!--<add name="NewPemira.Properties.Settings.DBPemiraConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database\DBPemira.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />-->
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>